extends templates/default

block content
  img(style='width:100%; height:280px',src='https://c.pcspucv.cl/wp-content/uploads/2018/06/portada.png')
  br
  br
  if isAuthenticated
    p= 'Bienvenido' + user.nombre