footer
	br
	br
	center <img src="http://www.exalumnos.usm.cl/wp-content/uploads/2015/06/ISOTIPO-Color.jpg" width="100px" height="60px">
	br
	center <font color="00284a">2018 © Departamento de Matemáticas</font> | <font color="00284a">Universidad Técnica Federico Santa María</font>